---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CSS";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>这是我的CSS效果</h2>
  <ul>
    <li><a href="/css/loading">loading</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</BaseLayout>
